<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.plugin.spotify" version="0.5.9" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>SpotifyPlugin</name>
    
    <js-module name="SpotifyPlugin" src="www/SpotifyPlugin.js">
        <clobbers target="cordova.plugins.SpotifyPlugin" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SpotifyPlugin">
                <param name="android-package" value="cordova.plugin.spotify.SpotifyPlugin" />
            </feature>
        </config-file>

        <source-file src="src/android/ConnectionEventsHandler.java" target-dir="src/cordova/plugin/spotify/SpotifyPlugin" />
        <source-file src="src/android/SpotifyPlugin.java" target-dir="src/cordova/plugin/spotify/SpotifyPlugin" />
        <source-file src="src/android/Emitter.java" target-dir="src/cordova/plugin/spotify/SpotifyPlugin" />
        <source-file src="src/android/PlayerEventsHandler.java" target-dir="src/cordova/plugin/spotify/SpotifyPlugin" />

        <source-file src="src/android/libs/spotify-sdk.aar" target-dir="app/libs/" />
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />

        <config-file target="app/src/main/AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
        </config-file>
    </platform>

    <platform name="ios">
        <hook type="before_plugin_install" src="install-ios.sh" />

        <config-file target="config.xml" parent="/*">
            <feature name="SpotifyConnector">
                <param name="ios-package" value="CordovaSpotify" />
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>audio</string>
            </array>
        </config-file>

        <header-file src="src/ios/CordovaSpotify.h" />
        <source-file src="src/ios/CordovaSpotify.m" />
        <header-file src="src/ios/CordovaSpotifyEventEmitter.h" />
        <source-file src="src/ios/CordovaSpotifyEventEmitter.m" />
        <header-file src="src/ios/AudioStreamingDelegate.h" />
        <source-file src="src/ios/AudioStreamingDelegate.m" />
        <header-file src="src/ios/AudioStreamingPlaybackDelegate.h" />
        <source-file src="src/ios/AudioStreamingPlaybackDelegate.m" />

        <framework src="src/ios/spotify-sdk/SpotifyAudioPlayback.framework" custom="true" />
        <framework src="src/ios/spotify-sdk/SpotifyAuthentication.framework" custom="true" />
        <framework src="src/ios/spotify-sdk/SpotifyMetadata.framework" custom="true" />
        <framework src="AVFoundation.framework" />
    </platform>
</plugin>
